@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #9aa1db;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

section {
    width: 40%;
    padding: 50px 0;
    position: relative;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    text-align: center;
    color: #666;
    font-size: 1.2em;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input-container {
    width: 50%; /* or any other value */
    margin: auto; /* to center the container */
}

input[type="submit"]:hover {
    background-color: #212c73;
    width: 50%; /* or any other value */
    margin: auto; /* to center the input fields */
}

a.inscription {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    right: 20px;
}

a.inscription:hover {
    background-color: #212c73;
}

a.pointage {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    left: 20px;
}

a.pointage:hover {
    background-color: #212c73;
}